*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;  
}

body{
    background: #ffe0ff;
    color: rgb(12, 11, 11);
    overflow: hidden;
    overflow-y: scroll;
}